.layout {
  width: 1366px;
  height: 100vh;

  display: grid;
  grid:
    "sidebar body" 1fr
    / 25% 86%;
  gap: 8px;
}

.sidebar { 
  grid-area: sidebar;
  border: 2px solid red;
}
.body { 
  grid-area: body; 
  border: 2px solid green;
  
}

.show{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.token{
  position: relative;
  width: 1070px;
  height: 225px;
  border: 2px solid white;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end ;
  padding: 0px;
  gap: 32px
}

.users{
  position: relative;
  width: 1070px;
  height: 330px;
  border: 2px solid cyan;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.tokenCard{
  position: relative;
  height: 160px;
  width: 190px;
  border-radius: 9%;
  border: 1px solid rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: radial-gradient( farthest-corner at -600px -350px , #00BCD4 0%, #000000 100%);
}

.tokenUp {
  position: relative;
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  /* border: 2px solid burlywood; */
}

.tokenText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 9px;
}

.tokenImage{
  border-radius: 15%;
  object-fit: cover;
}

.tokenValues{
  position: relative;
  margin-left: 9px;
  margin-bottom: 3px;
  width: 170px;
}

.tokenLine{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}