.layout {
  width: 1366px;
  height: 100vh;

  /* display: grid;
  grid:
    "sidebar body" 1fr
    / 25% 86%; */
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.sidebar { 
  margin-left: 20px;
  grid-area: sidebar;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;
}
.body { 
  margin-left: 30px;
  grid-area: body; 
  
}

.show{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.token{
  position: relative;
  width: 1070px;
  height: 225px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end ;
  padding: 0px;
  gap: 32px
}

.users{
  position: relative;
  width: 1070px;
  height: 330px;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.tokenCard1{
  position: relative;
  height: 160px;
  width: 190px;
  border-radius: 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient( farthest-corner at -1200px -270px , #FFC148 50%, #000000 90%);
}

/* For different colors in cards */

.tokenCard2{
  position: relative;
  height: 160px;
  width: 190px;
  border-radius: 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient( farthest-corner at -1200px -270px , #44FFC8 50%, #000000 90%);
}

.tokenCard3{
  position: relative;
  height: 160px;
  width: 190px;
  border-radius: 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient( farthest-corner at -1200px -270px , #4BDFFF 50%, #000000 90%);
}
 
.tokenUp {
  position: relative;
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  /* border: 2px solid burlywood; */
}

.tokenText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 9px;
}

.tokenImage{
  border-radius: 15%;
  object-fit: cover;
}

.tokenValues{
  position: relative;
  margin-left: 9px;
  margin-bottom: 3px;
  width: 170px;
}

.tokenLine{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.weakText{
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #A2A2A2;
}

.timeText{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A2A2A2;
}

.lightText{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FAFAFA;;
}

.lightText2{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FAFAFA;;
}

.lightColorText{
  color: #4BDFFF;
  margin-left: 6px;
}

.nftLineM{
  display: flex;
  flex-direction: row;
}

.ethSymbol{
  margin-top: 2px;
}

.gains{
  color: #19ED7B;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.heading{
  color: #A2A2A2;
  position: absolute;
  top: 10px;
  font-size: 17px;
  line-height: 20px;
}