.nftLayout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 4px 8px;
    gap: 16px;
    isolation: isolate;

    width: 201px;
    height: 305px;

    background: #111111;
    border-radius: 8px;
    border: 1px solid slateblue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nftImage{
    border-radius: 8px;
    object-fit: cover;
}

.nftText{
    position: relative;
    margin-top: 10px;
    margin-left: 4px;
}

.nftValues{
    position: relative;
    margin-left: 4px;
    margin-bottom: 3px;
    width: 170px;
}
  
.nftLine{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.nftLineM{
    display: flex;
    flex-direction: row;
}

.item{
    margin-left: 5px;
}

.topContent{
    position: relative;

}

.imageText{
    position: absolute;
    right: 7px;
    top: 171px;
    background: radial-gradient(circle, rgba(198,198,198,0.5) 20%, rgba(198,198,198,0.5579481792717087) 74%, rgba(211,212,213,0.499124649859944) 74%);
    padding: 3px;
    border-radius: 10px;
}



