.nftLayout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 4px 8px;
    gap: 16px;
    isolation: isolate;

    width: 201px;
    height: 305px;

    background: #111111;
    border-radius: 8px;
    border: 1px solid slateblue;
}

.nftImage{
    border-radius: 8px;
    object-fit: cover;
}

.nftText{
    position: relative;
    margin-top: 10px;
    margin-left: 4px;
}

.nftValues{
    position: relative;
    margin-left: 4px;
    margin-bottom: 3px;
    width: 170px;
}
  
.nftLine{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.nftLineM{
    display: flex;
    flex-direction: row;
}

.item{
    margin-left: 5px;
}




